{
 "openapi": "3.1.0",
 "info": {
  "title": "MegaSend Cloud API",
  "description": "REST API for WhatsApp Business messaging, templates, contacts, campaigns, automation flows and multi-channel messaging.",
  "version": "2.0.0",
  "contact": {
   "name": "MegaSend Support",
   "email": "team@weblix.co.il",
   "url": "https://app.megasend.co.il"
  }
 },
 "servers": [
  {
   "url": "https://api.megasend.co.il",
   "description": "Production"
  }
 ],
 "security": [
  {
   "AccessToken": []
  }
 ],
 "paths": {
  "/019mobile/connect": {
   "post": {
    "tags": [
     "019 Mobile"
    ],
    "summary": "Connect",
    "operationId": "connect_019mobile_connect_post",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Mobile019ConnectRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Mobile019ConnectResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/019mobile/disconnect": {
   "post": {
    "tags": [
     "019 Mobile"
    ],
    "summary": "Disconnect",
    "operationId": "disconnect_019mobile_disconnect_post",
    "parameters": [
     {
      "name": "instance_id",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "title": "Instance Id"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {}
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/019mobile/status": {
   "get": {
    "tags": [
     "019 Mobile"
    ],
    "summary": "Status",
    "operationId": "status_019mobile_status_get",
    "parameters": [
     {
      "name": "instance_id",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "title": "Instance Id"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Mobile019StatusResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/019mobile/{instance_id}/automation-settings": {
   "get": {
    "tags": [
     "019 Mobile"
    ],
    "summary": "Get Mobile019 Automation Settings",
    "operationId": "get_mobile019_automation_settings_019mobile__instance_id__automation_settings_get",
    "parameters": [
     {
      "name": "instance_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "title": "Instance Id"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {}
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   },
   "put": {
    "tags": [
     "019 Mobile"
    ],
    "summary": "Set Mobile019 Automation Settings",
    "description": "MERGE the provided top-level keys into mobile019_automation_settings.\n\nThe FE sends partial objects (e.g. ``{\"welcome\": {...}}`` from the welcome\nform).  A full replace would wipe the other sections, so we do a top-level\ndict merge: only the provided keys are overwritten; absent keys are left\nuntouched.",
    "operationId": "set_mobile019_automation_settings_019mobile__instance_id__automation_settings_put",
    "parameters": [
     {
      "name": "instance_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "title": "Instance Id"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Mobile019AutomationSettings"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {}
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/access-tokens/me": {
   "get": {
    "tags": [
     "Access Tokens"
    ],
    "summary": "List My Tokens",
    "description": "List all access tokens belonging to the current user.\n\nNote: Agents cannot access this endpoint - API tokens are owner-level resources.",
    "operationId": "list_my_tokens_access_tokens_me_get",
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "items": {
          "$ref": "#/components/schemas/AccessTokenResponse"
         },
         "type": "array",
         "title": "Response List My Tokens Access Tokens Me Get"
        }
       }
      }
     }
    }
   },
   "post": {
    "tags": [
     "Access Tokens"
    ],
    "summary": "Create My Token",
    "description": "Create a new access token for the current user.\nOptionally set a description or expires_at.\n\nNote: Agents cannot access this endpoint - API tokens are owner-level resources.",
    "operationId": "create_my_token_access_tokens_me_post",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AccessTokenCreate"
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AccessTokenResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/access-tokens/me/logs": {
   "get": {
    "tags": [
     "Access Tokens"
    ],
    "summary": "List your access token logs with optional pagination.",
    "description": "Retrieve access token logs *for the currently authenticated user*.\nSupports optional filtering by a specific token ID, plus pagination.\n\nNote: Agents cannot access this endpoint - API tokens are owner-level resources.",
    "operationId": "get_my_access_token_logs_access_tokens_me_logs_get",
    "parameters": [
     {
      "name": "token_id",
      "in": "query",
      "required": false,
      "schema": {
       "anyOf": [
        {
         "type": "string"
        },
        {
         "type": "null"
        }
       ],
       "description": "Filter logs by a specific token ID",
       "title": "Token Id"
      },
      "description": "Filter logs by a specific token ID"
     },
     {
      "name": "page",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "exclusiveMinimum": 0,
       "description": "Page number (starts at 1)",
       "default": 1,
       "title": "Page"
      },
      "description": "Page number (starts at 1)"
     },
     {
      "name": "page_size",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "maximum": 100,
       "exclusiveMinimum": 0,
       "description": "Number of items per page (max=100)",
       "default": 10,
       "title": "Page Size"
      },
      "description": "Number of items per page (max=100)"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AccessTokenLogPaginatedResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/access-tokens/me/{token_id}": {
   "get": {
    "tags": [
     "Access Tokens"
    ],
    "summary": "Get My Token",
    "description": "Retrieve a specific token (owned by current user).\n\nNote: Agents cannot access this endpoint - API tokens are owner-level resources.",
    "operationId": "get_my_token_access_tokens_me__token_id__get",
    "parameters": [
     {
      "name": "token_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "title": "Token Id"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AccessTokenResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   },
   "put": {
    "tags": [
     "Access Tokens"
    ],
    "summary": "Update My Token",
    "description": "Update an existing token (owned by current user).\nE.g., update description, expiry, or active status.\n\nNote: Agents cannot access this endpoint - API tokens are owner-level resources.",
    "operationId": "update_my_token_access_tokens_me__token_id__put",
    "parameters": [
     {
      "name": "token_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "title": "Token Id"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AccessTokenUpdate"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AccessTokenResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   },
   "delete": {
    "tags": [
     "Access Tokens"
    ],
    "summary": "Delete My Token",
    "description": "Delete an existing token (owned by current user).\n\nNote: Agents cannot access this endpoint - API tokens are owner-level resources.",
    "operationId": "delete_my_token_access_tokens_me__token_id__delete",
    "parameters": [
     {
      "name": "token_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "title": "Token Id"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "Successful Response"
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/access-tokens/me/{token_id}/refresh": {
   "post": {
    "tags": [
     "Access Tokens"
    ],
    "summary": "Refresh My Token",
    "description": "Regenerate the token_value for an existing token (owned by current user).\n\nNote: Agents cannot access this endpoint - API tokens are owner-level resources.",
    "operationId": "refresh_my_token_access_tokens_me__token_id__refresh_post",
    "parameters": [
     {
      "name": "token_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "title": "Token Id"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AccessTokenResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/ai/booking-calendar": {
   "put": {
    "tags": [
     "AI Chatbot"
    ],
    "summary": "Set Booking Calendar",
    "description": "Choose which connected calendar the AI books into, for one provider.\n\nAn account can hold several connections per provider (a different email\ninserts a new row, and every team member can link their own), and the\nreply path uses exactly one. Without a choice it is inferred, which is\ndeterministic but not the merchant's call. This is the choice.\n\nAccount level and write-scoped: booking is configured once per account,\nand a team member needs can_manage_integrations, the same permission the\nCalendar page itself is gated on.\n\nReturns the refreshed status so the caller does not need a second GET.",
    "operationId": "set_booking_calendar_ai_booking_calendar_put",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/BookingCalendarRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AIToolConnectionsResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/ai/generate-draft": {
   "post": {
    "tags": [
     "AI Chatbot"
    ],
    "summary": "Generate Ai Draft",
    "description": "Generate AI draft response for chat input textarea.\n\nThis endpoint generates an AI response based on conversation context\nWITHOUT sending it. The user can review and edit the draft before sending.\n\nUse case: User clicks \"AI Generate\" button in chat input area.\n\nFlow:\n1. Check AI subscription and billing limits\n2. Load AI settings for the instance\n3. Fetch last N messages from conversation\n4. Build system prompt (with MCP tools if Shopify mode)\n5. Call OpenAI to generate response\n6. Return draft text (user edits and sends manually)\n\n**Agent Support**:\nAgents can generate AI drafts if they have `can_send_messages` permission.",
    "operationId": "generate_ai_draft_ai_generate_draft_post",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/GenerateAIDraftRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/GenerateAIDraftResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/ai/settings": {
   "post": {
    "tags": [
     "AI Chatbot"
    ],
    "summary": "Create Ai Settings",
    "description": "Create or update AI settings for an instance.\n\nValidates:\n- Instance ownership or agent access\n- Base subscription exists (if AI enabled)\n- Mode-specific required fields\n- Shopify store ownership (if Shopify mode)\n\n**Agent Support**:\nAgents can manage AI settings if they have `can_send_messages` permission on the instance.",
    "operationId": "create_ai_settings_ai_settings_post",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AISettingsCreate"
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AISettingsResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/ai/settings/{instance_id}": {
   "get": {
    "tags": [
     "AI Chatbot"
    ],
    "summary": "Get Ai Settings",
    "description": "Get AI settings for an instance.\n\nReturns default settings if they don't exist yet (better UX for first-time users).\n\n**Agent Support**:\nAgents can view AI settings if they have `can_send_messages` permission on the instance.",
    "operationId": "get_ai_settings_ai_settings__instance_id__get",
    "parameters": [
     {
      "name": "instance_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Instance Id"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AISettingsResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   },
   "put": {
    "tags": [
     "AI Chatbot"
    ],
    "summary": "Update Ai Settings",
    "description": "Update or create AI settings for an instance (upsert pattern).\n\nThis endpoint creates default settings if they don't exist yet,\nproviding a better UX for first-time subscribers.\n\n**Agent Support**:\nAgents can update AI settings if they have `can_send_messages` permission on the instance.",
    "operationId": "update_ai_settings_ai_settings__instance_id__put",
    "parameters": [
     {
      "name": "instance_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Instance Id"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AISettingsUpdate"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AISettingsResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   },
   "delete": {
    "tags": [
     "AI Chatbot"
    ],
    "summary": "Delete Ai Settings",
    "description": "Delete (disable) AI settings for an instance.\n\n**Agent Support**:\nAgents can disable AI settings if they have `can_send_messages` permission on the instance.",
    "operationId": "delete_ai_settings_ai_settings__instance_id__delete",
    "parameters": [
     {
      "name": "instance_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Instance Id"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/app__schemas__ai_schema__MessageResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/ai/shopify/select-store": {
   "post": {
    "tags": [
     "AI Chatbot"
    ],
    "summary": "Select Shopify Store",
    "description": "Select a Shopify store for AI integration.\n\nThis endpoint accepts shop_id and shop_domain from the frontend\nand stores them directly in ai_settings without validation.\nThe frontend (Shopify app) is responsible for ensuring the user\nowns the selected shop.\n\n**Agent Support**:\nAgents can select Shopify stores if they have `can_send_messages` permission on the instance.",
    "operationId": "select_shopify_store_ai_shopify_select_store_post",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ShopifyStoreSelectRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AISettingsResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/ai/shopify/stores": {
   "get": {
    "tags": [
     "AI Chatbot"
    ],
    "summary": "Get Shopify Stores",
    "description": "Get list of Shopify stores connected to this account.\n\nImplementation:\n1. Retrieve all access tokens for the ACCOUNT (a team member resolves to\n   their owner: stores are connected once per account, not per seat)\n2. Decrypt each token to get the plaintext mega_token\n3. Query Shopify database to find shops using each mega_token\n4. Return aggregated list of shops found\n\nThis ensures the caller only sees shops their account owns tokens for.",
    "operationId": "get_shopify_stores_ai_shopify_stores_get",
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ShopifyStoreListResponse"
        }
       }
      }
     }
    }
   }
  },
  "/ai/tool-connections": {
   "get": {
    "tags": [
     "AI Chatbot"
    ],
    "summary": "Get Ai Tool Connections",
    "description": "What the account's calendar-backed AI tools are wired to.\n\nAccount level on purpose: a calendar is connected once per account and\nserves every instance and every agent, so this answers for surfaces that\nhave no agent id yet (the create-agent drawer) and for the instance AI\nsettings page. The agent workspace gets the same payload inline on\n``GET /ai/agents/{id}/actions`` and does not call this.\n\n``instance_id`` is how the instance-level AI settings page asks. Without\nit a team member resolves to themselves (resolve_account_scope only\nwidens for can_manage_integrations), and the booking toggle on a page\nthey DO have access to would claim the account has no calendar. With it,\nthe owner comes from the instance, the same way every other endpoint on\nthat page resolves it.\n\nNever 404s on a disabled provider: \"this deployment does not offer\nCalendly\" is exactly what the toggle needs to say, and a 404 would leave\nit showing \"not connected\" with a connect button that cannot work.",
    "operationId": "get_ai_tool_connections_ai_tool_connections_get",
    "parameters": [
     {
      "name": "instance_id",
      "in": "query",
      "required": false,
      "schema": {
       "anyOf": [
        {
         "type": "string",
         "format": "uuid"
        },
        {
         "type": "null"
        }
       ],
       "title": "Instance Id"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AIToolConnectionsResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/analytics/conversations": {
   "get": {
    "tags": [
     "Conversation Analytics"
    ],
    "summary": "Get Analytics",
    "description": "Get conversation analytics for an instance.\n\nReturns summary, cost breakdown, daily trends, and raw data points.\nData is cached in Redis for 15 minutes.",
    "operationId": "get_analytics_analytics_conversations_get",
    "parameters": [
     {
      "name": "instance_id",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "description": "WhatsApp instance ID",
       "title": "Instance Id"
      },
      "description": "WhatsApp instance ID"
     },
     {
      "name": "days",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "maximum": 90,
       "minimum": 1,
       "description": "Number of days to look back",
       "default": 30,
       "title": "Days"
      },
      "description": "Number of days to look back"
     },
     {
      "name": "dimensions",
      "in": "query",
      "required": false,
      "schema": {
       "anyOf": [
        {
         "type": "string"
        },
        {
         "type": "null"
        }
       ],
       "description": "Comma-separated dimensions: CONVERSATION_DIRECTION, CONVERSATION_TYPE, PHONE",
       "title": "Dimensions"
      },
      "description": "Comma-separated dimensions: CONVERSATION_DIRECTION, CONVERSATION_TYPE, PHONE"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {}
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/analytics/conversations/costs": {
   "get": {
    "tags": [
     "Conversation Analytics"
    ],
    "summary": "Get Costs",
    "description": "Get conversation cost breakdown for an instance.\n\nReturns a focused view of costs by conversation direction and type.",
    "operationId": "get_costs_analytics_conversations_costs_get",
    "parameters": [
     {
      "name": "instance_id",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "description": "WhatsApp instance ID",
       "title": "Instance Id"
      },
      "description": "WhatsApp instance ID"
     },
     {
      "name": "days",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "maximum": 90,
       "minimum": 1,
       "description": "Number of days to look back",
       "default": 30,
       "title": "Days"
      },
      "description": "Number of days to look back"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {}
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/analytics/conversations/mm-lite-eligible": {
   "get": {
    "tags": [
     "Conversation Analytics"
    ],
    "summary": "Mm Lite Eligible",
    "description": "Get contacts eligible for MM Lite pricing.\n\nReturns contacts that have had a conversation within the last 30 days,\nmaking them eligible for lower marketing message costs.",
    "operationId": "mm_lite_eligible_analytics_conversations_mm_lite_eligible_get",
    "parameters": [
     {
      "name": "instance_id",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "description": "WhatsApp instance ID",
       "title": "Instance Id"
      },
      "description": "WhatsApp instance ID"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {}
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/analytics/conversations/mm-lite-estimate": {
   "post": {
    "tags": [
     "Conversation Analytics"
    ],
    "summary": "Mm Lite Estimate",
    "description": "Estimate MM Lite cost savings for a marketing campaign.\n\nMM Lite provides lower-cost marketing messages to contacts who have had\na conversation within the last 30 days. This endpoint estimates how many\ncontacts qualify and the potential savings.",
    "operationId": "mm_lite_estimate_analytics_conversations_mm_lite_estimate_post",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/MMLiteEstimateRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {}
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/analytics/conversations/summary": {
   "get": {
    "tags": [
     "Conversation Analytics"
    ],
    "summary": "Get Summary",
    "description": "Get high-level conversation summary for an instance.\n\nReturns total conversations, direction split, and cost totals.",
    "operationId": "get_summary_analytics_conversations_summary_get",
    "parameters": [
     {
      "name": "instance_id",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "description": "WhatsApp instance ID",
       "title": "Instance Id"
      },
      "description": "WhatsApp instance ID"
     },
     {
      "name": "days",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "maximum": 90,
       "minimum": 1,
       "description": "Number of days to look back",
       "default": 30,
       "title": "Days"
      },
      "description": "Number of days to look back"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {}
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/analytics/db/message-flow-combined": {
   "get": {
    "tags": [
     "analytics"
    ],
    "summary": "Get Combined Message Flow",
    "description": "Get combined message flow analytics across multiple instances",
    "operationId": "get_combined_message_flow_analytics_db_message_flow_combined_get",
    "parameters": [
     {
      "name": "time_range",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "description": "Time range: 24h, 7d, 30d, 90d",
       "default": "7d",
       "title": "Time Range"
      },
      "description": "Time range: 24h, 7d, 30d, 90d"
     },
     {
      "name": "instance_ids",
      "in": "query",
      "required": false,
      "schema": {
       "anyOf": [
        {
         "type": "string"
        },
        {
         "type": "null"
        }
       ],
       "description": "Comma-separated instance IDs",
       "title": "Instance Ids"
      },
      "description": "Comma-separated instance IDs"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {}
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/analytics/db/message-flow/{instance_id}": {
   "get": {
    "tags": [
     "analytics"
    ],
    "summary": "Get Message Flow Analytics",
    "description": "Get message flow analytics showing sent vs received patterns",
    "operationId": "get_message_flow_analytics_analytics_db_message_flow__instance_id__get",
    "parameters": [
     {
      "name": "instance_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Instance Id"
      }
     },
     {
      "name": "time_range",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "description": "Time range: 24h, 7d, 30d, 90d",
       "default": "7d",
       "title": "Time Range"
      },
      "description": "Time range: 24h, 7d, 30d, 90d"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {}
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/analytics/db/recipient-analytics/{instance_id}": {
   "get": {
    "tags": [
     "analytics"
    ],
    "summary": "Get Recipient Analytics",
    "description": "Per-conversation-partner analytics, counted off our own outbound rows.\n\nTwo defects this route used to have, both of the same shape:\n\n* ``delivery_rate`` divided a count of delivered messages by\n  ``message_count``, which counts BOTH directions. The customers who reply\n  most therefore rendered as the worst delivering: one live recipient with\n  52 outbound and 143 inbound messages showed 26.67% while every message we\n  sent them had arrived.\n* The whole route was gated on ``recipient IS NOT NULL``, so it returned an\n  empty list on Instagram, web widget and messenger, where the conversation\n  partner lives in recipient_bsuid / sender_bsuid. One live Instagram\n  account had 1,421 conversation partners and an empty panel.",
    "operationId": "get_recipient_analytics_analytics_db_recipient_analytics__instance_id__get",
    "parameters": [
     {
      "name": "instance_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Instance Id"
      }
     },
     {
      "name": "time_range",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "description": "Time range: 24h, 7d, 30d, 90d",
       "default": "7d",
       "title": "Time Range"
      },
      "description": "Time range: 24h, 7d, 30d, 90d"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {}
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/analytics/db/status-analytics-combined": {
   "get": {
    "tags": [
     "analytics"
    ],
    "summary": "Get Combined Status Analytics",
    "description": "Get combined message status analytics from all user instances or specified instances.\nThis provides aggregated data across multiple WhatsApp instances.\n\nSupports both owners and agents via list_instances_for_user_with_agent_support.",
    "operationId": "get_combined_status_analytics_analytics_db_status_analytics_combined_get",
    "parameters": [
     {
      "name": "time_range",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "description": "Time range: 24h, 7d, 30d, 90d",
       "default": "7d",
       "title": "Time Range"
      },
      "description": "Time range: 24h, 7d, 30d, 90d"
     },
     {
      "name": "instance_ids",
      "in": "query",
      "required": false,
      "schema": {
       "anyOf": [
        {
         "type": "string"
        },
        {
         "type": "null"
        }
       ],
       "description": "Comma-separated instance IDs. If not provided, uses all user instances",
       "title": "Instance Ids"
      },
      "description": "Comma-separated instance IDs. If not provided, uses all user instances"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {}
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/analytics/db/status-analytics/{instance_id}": {
   "get": {
    "tags": [
     "analytics"
    ],
    "summary": "Get Status Analytics",
    "description": "Get detailed message status analytics from database",
    "operationId": "get_status_analytics_analytics_db_status_analytics__instance_id__get",
    "parameters": [
     {
      "name": "instance_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Instance Id"
      }
     },
     {
      "name": "time_range",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "description": "Time range: 24h, 7d, 30d, 90d",
       "default": "7d",
       "title": "Time Range"
      },
      "description": "Time range: 24h, 7d, 30d, 90d"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {}
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/analytics/db/template-analytics/{instance_id}": {
   "get": {
    "tags": [
     "analytics"
    ],
    "summary": "Get Template Analytics Db",
    "description": "Get template performance analytics, counted per outbound row.\n\nDelivered / read / failed / pending all come from ``Messages.status``, the\nsame single population the overview uses. The previous implementation\ncounted failures by looking each template message's wa_message_id up in the\nstatus webhook table, which cannot see a send that died at the Graph call\nand so never got an id. On one live instance the ``type_5_new`` template\nreported 18 failures and a 2.39% failure rate against a real 404 failures\nand 53.58%, and quietly relabelled the other 386 as \"pending\".",
    "operationId": "get_template_analytics_db_analytics_db_template_analytics__instance_id__get",
    "parameters": [
     {
      "name": "instance_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Instance Id"
      }
     },
     {
      "name": "time_range",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "description": "Time range: 24h, 7d, 30d, 90d",
       "default": "7d",
       "title": "Time Range"
      },
      "description": "Time range: 24h, 7d, 30d, 90d"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {}
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/analytics/db/webhook-analytics/{instance_id}": {
   "get": {
    "tags": [
     "analytics"
    ],
    "summary": "Get Webhook Analytics",
    "description": "Get webhook event analytics",
    "operationId": "get_webhook_analytics_analytics_db_webhook_analytics__instance_id__get",
    "parameters": [
     {
      "name": "instance_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Instance Id"
      }
     },
     {
      "name": "time_range",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "description": "Time range: 24h, 7d, 30d, 90d",
       "default": "7d",
       "title": "Time Range"
      },
      "description": "Time range: 24h, 7d, 30d, 90d"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {}
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/analytics/meta/analytics/{instance_id}": {
   "get": {
    "tags": [
     "analytics"
    ],
    "summary": "Get Messaging Analytics",
    "description": "Get messaging analytics (messages sent/delivered) from Meta",
    "operationId": "get_messaging_analytics_analytics_meta_analytics__instance_id__get",
    "parameters": [
     {
      "name": "instance_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Instance Id"
      }
     },
     {
      "name": "start",
      "in": "query",
      "required": true,
      "schema": {
       "type": "integer",
       "description": "Start timestamp (Unix)",
       "title": "Start"
      },
      "description": "Start timestamp (Unix)"
     },
     {
      "name": "end",
      "in": "query",
      "required": true,
      "schema": {
       "type": "integer",
       "description": "End timestamp (Unix)",
       "title": "End"
      },
      "description": "End timestamp (Unix)"
     },
     {
      "name": "granularity",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "description": "Granularity: HALF_HOUR, DAILY, MONTHLY",
       "default": "DAILY",
       "title": "Granularity"
      },
      "description": "Granularity: HALF_HOUR, DAILY, MONTHLY"
     },
     {
      "name": "phone_numbers",
      "in": "query",
      "required": false,
      "schema": {
       "anyOf": [
        {
         "type": "string"
        },
        {
         "type": "null"
        }
       ],
       "description": "Comma-separated phone numbers",
       "title": "Phone Numbers"
      },
      "description": "Comma-separated phone numbers"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {}
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/analytics/meta/conversations/{instance_id}": {
   "get": {
    "tags": [
     "analytics"
    ],
    "summary": "Get Conversation Analytics",
    "description": "Get conversation analytics (count/cost by category/type) from Meta",
    "operationId": "get_conversation_analytics_analytics_meta_conversations__instance_id__get",
    "parameters": [
     {
      "name": "instance_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Instance Id"
      }
     },
     {
      "name": "start",
      "in": "query",
      "required": true,
      "schema": {
       "type": "integer",
       "description": "Start timestamp (Unix)",
       "title": "Start"
      },
      "description": "Start timestamp (Unix)"
     },
     {
      "name": "end",
      "in": "query",
      "required": true,
      "schema": {
       "type": "integer",
       "description": "End timestamp (Unix)",
       "title": "End"
      },
      "description": "End timestamp (Unix)"
     },
     {
      "name": "granularity",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "description": "Granularity: HALF_HOUR, DAILY, MONTHLY",
       "default": "DAILY",
       "title": "Granularity"
      },
      "description": "Granularity: HALF_HOUR, DAILY, MONTHLY"
     },
     {
      "name": "dimensions",
      "in": "query",
      "required": false,
      "schema": {
       "anyOf": [
        {
         "type": "string"
        },
        {
         "type": "null"
        }
       ],
       "description": "Comma-separated dimensions: CONVERSATION_CATEGORY,CONVERSATION_TYPE,COUNTRY,PHONE",
       "title": "Dimensions"
      },
      "description": "Comma-separated dimensions: CONVERSATION_CATEGORY,CONVERSATION_TYPE,COUNTRY,PHONE"
     },
     {
      "name": "phone_numbers",
      "in": "query",
      "required": false,
      "schema": {
       "anyOf": [
        {
         "type": "string"
        },
        {
         "type": "null"
        }
       ],
       "description": "Comma-separated phone numbers",
       "title": "Phone Numbers"
      },
      "description": "Comma-separated phone numbers"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {}
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/analytics/meta/enable-insights/{instance_id}": {
   "post": {
    "tags": [
     "analytics"
    ],
    "summary": "Enable Template Insights",
    "description": "Enable template insights for WhatsApp Business Account",
    "operationId": "enable_template_insights_analytics_meta_enable_insights__instance_id__post",
    "parameters": [
     {
      "name": "instance_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Instance Id"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {}
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/analytics/meta/pricing/{instance_id}": {
   "get": {
    "tags": [
     "analytics"
    ],
    "summary": "Get Pricing Analytics",
    "description": "Get pricing analytics (costs by type/category) from Meta",
    "operationId": "get_pricing_analytics_analytics_meta_pricing__instance_id__get",
    "parameters": [
     {
      "name": "instance_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Instance Id"
      }
     },
     {
      "name": "start",
      "in": "query",
      "required": true,
      "schema": {
       "type": "integer",
       "description": "Start timestamp (Unix)",
       "title": "Start"
      },
      "description": "Start timestamp (Unix)"
     },
     {
      "name": "end",
      "in": "query",
      "required": true,
      "schema": {
       "type": "integer",
       "description": "End timestamp (Unix)",
       "title": "End"
      },
      "description": "End timestamp (Unix)"
     },
     {
      "name": "granularity",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "description": "Granularity: HALF_HOUR, DAILY, MONTHLY",
       "default": "DAILY",
       "title": "Granularity"
      },
      "description": "Granularity: HALF_HOUR, DAILY, MONTHLY"
     },
     {
      "name": "dimensions",
      "in": "query",
      "required": false,
      "schema": {
       "anyOf": [
        {
         "type": "string"
        },
        {
         "type": "null"
        }
       ],
       "description": "Comma-separated dimensions: PRICING_TYPE,PRICING_CATEGORY,COUNTRY,PHONE",
       "title": "Dimensions"
      },
      "description": "Comma-separated dimensions: PRICING_TYPE,PRICING_CATEGORY,COUNTRY,PHONE"
     },
     {
      "name": "phone_numbers",
      "in": "query",
      "required": false,
      "schema": {
       "anyOf": [
        {
         "type": "string"
        },
        {
         "type": "null"
        }
       ],
       "description": "Comma-separated phone numbers",
       "title": "Phone Numbers"
      },
      "description": "Comma-separated phone numbers"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {}
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/analytics/meta/status/{instance_id}": {
   "get": {
    "tags": [
     "analytics"
    ],
    "summary": "Get Analytics Status",
    "description": "Check analytics status and capabilities for WhatsApp Business Account",
    "operationId": "get_analytics_status_analytics_meta_status__instance_id__get",
    "parameters": [
     {
      "name": "instance_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Instance Id"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {}
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/analytics/meta/template-groups/{instance_id}": {
   "get": {
    "tags": [
     "analytics"
    ],
    "summary": "Get Template Group Analytics",
    "description": "Get template group analytics (per-group performance) from Meta",
    "operationId": "get_template_group_analytics_analytics_meta_template_groups__instance_id__get",
    "parameters": [
     {
      "name": "instance_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Instance Id"
      }
     },
     {
      "name": "start",
      "in": "query",
      "required": true,
      "schema": {
       "type": "integer",
       "description": "Start timestamp (Unix)",
       "title": "Start"
      },
      "description": "Start timestamp (Unix)"
     },
     {
      "name": "end",
      "in": "query",
      "required": true,
      "schema": {
       "type": "integer",
       "description": "End timestamp (Unix)",
       "title": "End"
      },
      "description": "End timestamp (Unix)"
     },
     {
      "name": "group_ids",
      "in": "query",
      "required": false,
      "schema": {
       "anyOf": [
        {
         "type": "string"
        },
        {
         "type": "null"
        }
       ],
       "description": "Comma-separated group IDs (max 10)",
       "title": "Group Ids"
      },
      "description": "Comma-separated group IDs (max 10)"
     },
     {
      "name": "metric_types",
      "in": "query",
      "required": false,
      "schema": {
       "anyOf": [
        {
         "type": "string"
        },
        {
         "type": "null"
        }
       ],
       "description": "Comma-separated metrics",
       "default": "SENT,DELIVERED,READ",
       "title": "Metric Types"
      },
      "description": "Comma-separated metrics"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {}
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/analytics/meta/templates/{instance_id}": {
   "get": {
    "tags": [
     "analytics"
    ],
    "summary": "Get Template Analytics",
    "description": "Get template analytics (per-template performance) from Meta",
    "operationId": "get_template_analytics_analytics_meta_templates__instance_id__get",
    "parameters": [
     {
      "name": "instance_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Instance Id"
      }
     },
     {
      "name": "start",
      "in": "query",
      "required": true,
      "schema": {
       "type": "integer",
       "description": "Start timestamp (Unix)",
       "title": "Start"
      },
      "description": "Start timestamp (Unix)"
     },
     {
      "name": "end",
      "in": "query",
      "required": true,
      "schema": {
       "type": "integer",
       "description": "End timestamp (Unix)",
       "title": "End"
      },
      "description": "End timestamp (Unix)"
     },
     {
      "name": "template_ids",
      "in": "query",
      "required": false,
      "schema": {
       "anyOf": [
        {
         "type": "string"
        },
        {
         "type": "null"
        }
       ],
       "description": "Comma-separated template IDs (max 10)",
       "title": "Template Ids"
      },
      "description": "Comma-separated template IDs (max 10)"
     },
     {
      "name": "metric_types",
      "in": "query",
      "required": false,
      "schema": {
       "anyOf": [
        {
         "type": "string"
        },
        {
         "type": "null"
        }
       ],
       "description": "Comma-separated metrics",
       "default": "SENT,DELIVERED,READ,CLICKED",
       "title": "Metric Types"
      },
      "description": "Comma-separated metrics"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {}
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/analytics/overview/{instance_id}": {
   "get": {
    "tags": [
     "analytics"
    ],
    "summary": "Get Instance Overview",
    "description": "Get analytics overview for a WhatsApp instance.\n\nThis endpoint prioritizes webhook data for message status information as it represents\nthe actual delivery status from WhatsApp, while using the Messages table for baseline\ncounts and platform categorization.\n\n``time_range`` sets the length of the window; the optional ``end_date``\n(ISO-8601) moves where it ends, so the same call can fetch the previous\nperiod for a comparison. Unparseable or future values are rejected with 422.",
    "operationId": "get_instance_overview_analytics_overview__instance_id__get",
    "parameters": [
     {
      "name": "instance_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Instance Id"
      }
     },
     {
      "name": "time_range",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "default": "7d",
       "title": "Time Range"
      }
     },
     {
      "name": "end_date",
      "in": "query",
      "required": false,
      "schema": {
       "anyOf": [
        {
         "type": "string"
        },
        {
         "type": "null"
        }
       ],
       "title": "End Date"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/OverviewResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/analytics/performance/{instance_id}": {
   "get": {
    "tags": [
     "analytics"
    ],
    "summary": "Get Performance Metrics",
    "description": "Get performance metrics for an instance",
    "operationId": "get_performance_metrics_analytics_performance__instance_id__get",
    "parameters": [
     {
      "name": "instance_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Instance Id"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PerformanceMetrics"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/analytics/stats/{instance_id}": {
   "get": {
    "tags": [
     "analytics"
    ],
    "summary": "Get Instance Stats",
    "description": "Get detailed statistics for an instance",
    "operationId": "get_instance_stats_analytics_stats__instance_id__get",
    "parameters": [
     {
      "name": "instance_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Instance Id"
      }
     },
     {
      "name": "time_range",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "default": "7d",
       "title": "Time Range"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/StatsResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/api/contact-custom-fields": {
   "get": {
    "tags": [
     "contact-custom-fields"
    ],
    "summary": "List Field Definitions",
    "description": "List all custom field definitions for the authenticated tenant.",
    "operationId": "list_field_definitions_api_contact_custom_fields_get",
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "items": {
          "$ref": "#/components/schemas/FieldDefinitionResponse"
         },
         "type": "array",
         "title": "Response List Field Definitions Api Contact Custom Fields Get"
        }
       }
      }
     }
    }
   },
   "post": {
    "tags": [
     "contact-custom-fields"
    ],
    "summary": "Create Field Definition",
    "description": "Create a new custom field definition (rejects duplicate keys).",
    "operationId": "create_field_definition_api_contact_custom_fields_post",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/CreateFieldDefinition"
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FieldDefinitionResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/api/contact-custom-fields/{contact_id}/values": {
   "get": {
    "tags": [
     "contact-custom-fields"
    ],
    "summary": "Get Contact Field Values",
    "description": "Get the merged custom field map (definition defaults + stored values).",
    "operationId": "get_contact_field_values_api_contact_custom_fields__contact_id__values_get",
    "parameters": [
     {
      "name": "contact_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Contact Id"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {}
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   },
   "put": {
    "tags": [
     "contact-custom-fields"
    ],
    "summary": "Set Contact Field Value",
    "description": "Set a single custom field value on the tenant's contact.",
    "operationId": "set_contact_field_value_api_contact_custom_fields__contact_id__values_put",
    "parameters": [
     {
      "name": "contact_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Contact Id"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/SetFieldValueSchema"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {}
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   },
   "delete": {
    "tags": [
     "contact-custom-fields"
    ],
    "summary": "Clear Contact Field Value",
    "description": "Remove a single custom field key from the tenant's contact.",
    "operationId": "clear_contact_field_value_api_contact_custom_fields__contact_id__values_delete",
    "parameters": [
     {
      "name": "contact_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Contact Id"
      }
     },
     {
      "name": "key",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "description": "The custom field key to clear",
       "title": "Key"
      },
      "description": "The custom field key to clear"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {}
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/api/contact-custom-fields/{definition_id}": {
   "get": {
    "tags": [
     "contact-custom-fields"
    ],
    "summary": "Get Field Definition",
    "description": "Get a single custom field definition scoped to the tenant.",
    "operationId": "get_field_definition_api_contact_custom_fields__definition_id__get",
    "parameters": [
     {
      "name": "definition_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Definition Id"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FieldDefinitionResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   },
   "patch": {
    "tags": [
     "contact-custom-fields"
    ],
    "summary": "Update Field Definition",
    "description": "Partially update a custom field definition (key is immutable).",
    "operationId": "update_field_definition_api_contact_custom_fields__definition_id__patch",
    "parameters": [
     {
      "name": "definition_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Definition Id"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/UpdateFieldDefinition"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FieldDefinitionResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   },
   "delete": {
    "tags": [
     "contact-custom-fields"
    ],
    "summary": "Delete Field Definition",
    "description": "Delete a custom field definition scoped to the tenant.",
    "operationId": "delete_field_definition_api_contact_custom_fields__definition_id__delete",
    "parameters": [
     {
      "name": "definition_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Definition Id"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {}
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/api/contact-labels/assignments": {
   "delete": {
    "tags": [
     "contact-labels"
    ],
    "summary": "Unassign Label From Contact",
    "description": "Unassign a label from a contact.\n\n- **instance_id**: WhatsApp instance ID\n- **contact_id**: ID of the contact to unassign the label from\n- **label_id**: ID of the label to unassign",
    "operationId": "unassign_label_from_contact_api_contact_labels_assignments_delete",
    "parameters": [
     {
      "name": "instance_id",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "description": "WhatsApp instance ID",
       "title": "Instance Id"
      },
      "description": "WhatsApp instance ID"
     },
     {
      "name": "contact_id",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "description": "Contact ID or phone number",
       "title": "Contact Id"
      },
      "description": "Contact ID or phone number"
     },
     {
      "name": "label_id",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "description": "Label ID",
       "title": "Label Id"
      },
      "description": "Label ID"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SuccessResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   },
   "post": {
    "tags": [
     "contact-labels"
    ],
    "summary": "Assign Label To Contact",
    "description": "Assign a label to a contact.\n\n- **instance_id**: WhatsApp instance ID\n- **contact_id**: ID of the contact to assign the label to\n- **label_id**: ID of the label to assign",
    "operationId": "assign_label_to_contact_api_contact_labels_assignments_post",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ContactLabelAssignmentCreate"
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SuccessResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/api/contact-labels/assignments/bulk": {
   "post": {
    "tags": [
     "contact-labels"
    ],
    "summary": "Bulk Assign Labels",
    "description": "Bulk assign multiple labels to multiple contacts.\n\n- **instance_id**: WhatsApp instance ID\n- **contact_ids**: List of contact IDs to assign labels to\n- **label_ids**: List of label IDs to assign\n- Returns statistics about the operation",
    "operationId": "bulk_assign_labels_api_contact_labels_assignments_bulk_post",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ContactLabelAssignmentBulk"
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/BulkOperationResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/api/contact-labels/contacts/{contact_id}/labels": {
   "get": {
    "tags": [
     "contact-labels"
    ],
    "summary": "Get Labels For Contact",
    "description": "Get all labels assigned to a specific contact.\n\n- **contact_id**: ID of the contact\n- **instance_id**: WhatsApp instance ID",
    "operationId": "get_labels_for_contact_api_contact_labels_contacts__contact_id__labels_get",
    "parameters": [
     {
      "name": "contact_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "title": "Contact Id"
      }
     },
     {
      "name": "instance_id",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "description": "WhatsApp instance ID",
       "title": "Instance Id"
      },
      "description": "WhatsApp instance ID"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/ContactLabelResponse"
         },
         "title": "Response Get Labels For Contact Api Contact Labels Contacts  Contact Id  Labels Get"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/api/contact-labels/create": {
   "post": {
    "tags": [
     "contact-labels"
    ],
    "summary": "Create Contact Label",
    "description": "Create a new contact label.\n\n- **name**: Label name (must be unique per instance)\n- **color_hex**: Hex color code (e.g., '#FF5733')\n- **description**: Optional description\n- **instance_id**: WhatsApp instance ID",
    "operationId": "create_contact_label_api_contact_labels_create_post",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ContactLabelCreate"
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ContactLabelResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/api/contact-labels/list": {
   "get": {
    "tags": [
     "contact-labels"
    ],
    "summary": "Get Contact Labels",
    "description": "Get all contact labels for a specific instance.\n\n- **instance_id**: WhatsApp instance ID to filter labels\n- **include_stats**: Whether to include usage statistics\n\nReturns:\n    List[ContactLabelResponse] when include_stats=False\n    List[ContactLabelWithStats] when include_stats=True",
    "operationId": "get_contact_labels_api_contact_labels_list_get",
    "parameters": [
     {
      "name": "instance_id",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "description": "WhatsApp instance ID",
       "title": "Instance Id"
      },
      "description": "WhatsApp instance ID"
     },
     {
      "name": "include_stats",
      "in": "query",
      "required": false,
      "schema": {
       "type": "boolean",
       "description": "Include usage statistics",
       "default": false,
       "title": "Include Stats"
      },
      "description": "Include usage statistics"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {}
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/api/contact-labels/search": {
   "post": {
    "tags": [
     "contact-labels"
    ],
    "summary": "Search Contacts By Labels",
    "description": "Search contacts by label criteria.\n\n- **instance_id**: WhatsApp instance ID\n- **label_ids**: List of label IDs to search for\n- **match_all**: If true, contact must have ALL labels; if false, ANY label\n- **include_unlabeled**: Include contacts with no labels\n- **page**: Page number (starts from 1)\n- **per_page**: Items per page",
    "operationId": "search_contacts_by_labels_api_contact_labels_search_post",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ContactSearchByLabels"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PaginatedContactWithLabelsResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/api/contact-labels/stats/summary": {
   "get": {
    "tags": [
     "contact-labels"
    ],
    "summary": "Get Label Stats Summary",
    "description": "Get comprehensive label statistics summary for the sidebar display.\n\nThis endpoint returns all information needed for the labels sidebar:\n- **labels**: All labels with their usage counts (contacts per label)\n- **total_contacts**: Total number of contacts in the instance\n- **unlabeled_count**: Number of contacts without any labels\n- **labeled_count**: Number of contacts with at least one label\n\nThis is optimized for frontend display and avoids multiple API calls.",
    "operationId": "get_label_stats_summary_api_contact_labels_stats_summary_get",
    "parameters": [
     {
      "name": "instance_id",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "description": "WhatsApp instance ID",
       "title": "Instance Id"
      },
      "description": "WhatsApp instance ID"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/LabelStatsSummary"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/api/contact-labels/stats/summary-multi": {
   "get": {
    "tags": [
     "contact-labels"
    ],
    "summary": "Get Merged Label Stats Summary",
    "description": "Get one label statistics summary across several accounts.\n\nThis is what the merged chat inbox reads. Labels are per account, so the\nsame name exists once per number; the response groups them by name and each\ngroup carries every label ID behind it, so filtering by one chip can match\nall of them. Counts are summed across accounts.\n\nAccounts the caller may not read contacts on are dropped rather than\nfailing the request, and come back in **skipped_instance_ids** so the\ncaller can stop asking for them.",
    "operationId": "get_merged_label_stats_summary_api_contact_labels_stats_summary_multi_get",
    "parameters": [
     {
      "name": "instance_ids",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "description": "Comma-separated instance IDs to summarise as one set",
       "title": "Instance Ids"
      },
      "description": "Comma-separated instance IDs to summarise as one set"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/MergedLabelStatsSummary"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/api/contact-labels/stats/usage": {
   "get": {
    "tags": [
     "contact-labels"
    ],
    "summary": "Get Label Usage Statistics",
    "description": "Get usage statistics for all labels in an instance.\n\n- **instance_id**: WhatsApp instance ID\n- Returns labels sorted by usage count (highest first)",
    "operationId": "get_label_usage_statistics_api_contact_labels_stats_usage_get",
    "parameters": [
     {
      "name": "instance_id",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "description": "WhatsApp instance ID",
       "title": "Instance Id"
      },
      "description": "WhatsApp instance ID"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/LabelUsageStats"
         },
         "title": "Response Get Label Usage Statistics Api Contact Labels Stats Usage Get"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/api/contact-labels/{label_id}": {
   "get": {
    "tags": [
     "contact-labels"
    ],
    "summary": "Get Contact Label",
    "description": "Get a specific contact label by ID.\n\n- **label_id**: Unique identifier of the label\n- **instance_id**: WhatsApp instance ID (for security)",
    "operationId": "get_contact_label_api_contact_labels__label_id__get",
    "parameters": [
     {
      "name": "label_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Label Id"
      }
     },
     {
      "name": "instance_id",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "description": "WhatsApp instance ID",
       "title": "Instance Id"
      },
      "description": "WhatsApp instance ID"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ContactLabelResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   },
   "put": {
    "tags": [
     "contact-labels"
    ],
    "summary": "Update Contact Label",
    "description": "Update an existing contact label.\n\n- **label_id**: Unique identifier of the label to update\n- **instance_id**: WhatsApp instance ID (for security)\n- Only provided fields will be updated",
    "operationId": "update_contact_label_api_contact_labels__label_id__put",
    "parameters": [
     {
      "name": "label_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Label Id"
      }
     },
     {
      "name": "instance_id",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "description": "WhatsApp instance ID",
       "title": "Instance Id"
      },
      "description": "WhatsApp instance ID"
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ContactLabelUpdate"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ContactLabelResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   },
   "delete": {
    "tags": [
     "contact-labels"
    ],
    "summary": "Delete Contact Label",
    "description": "Delete a contact label and all its assignments.\n\n- **label_id**: Unique identifier of the label to delete\n- **instance_id**: WhatsApp instance ID (for security)\n- This will remove all assignments of this label to contacts",
    "operationId": "delete_contact_label_api_contact_labels__label_id__delete",
    "parameters": [
     {
      "name": "label_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Label Id"
      }
     },
     {
      "name": "instance_id",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "description": "WhatsApp instance ID",
       "title": "Instance Id"
      },
      "description": "WhatsApp instance ID"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SuccessResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/api/contact-labels/{label_id}/contacts": {
   "get": {
    "tags": [
     "contact-labels"
    ],
    "summary": "Get Contacts With Label",
    "description": "Get all contacts that have a specific label assigned.\n\n- **label_id**: ID of the label\n- **instance_id**: WhatsApp instance ID\n- **limit**: Maximum number of contacts to return\n- **offset**: Offset for pagination",
    "operationId": "get_contacts_with_label_api_contact_labels__label_id__contacts_get",
    "parameters": [
     {
      "name": "label_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Label Id"
      }
     },
     {
      "name": "instance_id",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "description": "WhatsApp instance ID",
       "title": "Instance Id"
      },
      "description": "WhatsApp instance ID"
     },
     {
      "name": "limit",
      "in": "query",
      "required": false,
      "schema": {
       "anyOf": [
        {
         "type": "integer",
         "maximum": 1000,
         "exclusiveMinimum": 0
        },
        {
         "type": "null"
        }
       ],
       "description": "Maximum number of contacts",
       "title": "Limit"
      },
      "description": "Maximum number of contacts"
     },
     {
      "name": "offset",
      "in": "query",
      "required": false,
      "schema": {
       "anyOf": [
        {
         "type": "integer",
         "minimum": 0
        },
        {
         "type": "null"
        }
       ],
       "description": "Offset for pagination",
       "title": "Offset"
      },
      "description": "Offset for pagination"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/ContactWithLabels"
         },
         "title": "Response Get Contacts With Label Api Contact Labels  Label Id  Contacts Get"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/api/contact-segments": {
   "get": {
    "tags": [
     "contact-segments"
    ],
    "summary": "List Segments",
    "description": "List all segments for the tenant.",
    "operationId": "list_segments_api_contact_segments_get",
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "items": {
          "$ref": "#/components/schemas/SegmentResponse"
         },
         "type": "array",
         "title": "Response List Segments Api Contact Segments Get"
        }
       }
      }
     }
    }
   },
   "post": {
    "tags": [
     "contact-segments"
    ],
    "summary": "Create Segment",
    "description": "Create a new contact segment for the tenant.",
    "operationId": "create_segment_api_contact_segments_post",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/CreateSegment"
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SegmentResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/api/contact-segments/preview": {
   "post": {
    "tags": [
     "contact-segments"
    ],
    "summary": "Preview Segment",
    "description": "Preview a segment: count matching contacts for ad-hoc conditions (no save).",
    "operationId": "preview_segment_api_contact_segments_preview_post",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/SegmentPreviewRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SegmentPreviewResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/api/contact-segments/{segment_id}": {
   "get": {
    "tags": [
     "contact-segments"
    ],
    "summary": "Get Segment",
    "description": "Fetch a single segment by ID (tenant-scoped).",
    "operationId": "get_segment_api_contact_segments__segment_id__get",
    "parameters": [
     {
      "name": "segment_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Segment Id"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SegmentResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   },
   "put": {
    "tags": [
     "contact-segments"
    ],
    "summary": "Update Segment",
    "description": "Partial-update a segment. Only provided fields change.",
    "operationId": "update_segment_api_contact_segments__segment_id__put",
    "parameters": [
     {
      "name": "segment_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Segment Id"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/UpdateSegment"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SegmentResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   },
   "delete": {
    "tags": [
     "contact-segments"
    ],
    "summary": "Delete Segment",
    "description": "Delete a segment (tenant-scoped).",
    "operationId": "delete_segment_api_contact_segments__segment_id__delete",
    "parameters": [
     {
      "name": "segment_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Segment Id"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {}
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/api/contact-segments/{segment_id}/contacts": {
   "get": {
    "tags": [
     "contact-segments"
    ],
    "summary": "Get Segment Contacts",
    "description": "Resolve a saved segment to a paginated list of matching contacts.",
    "operationId": "get_segment_contacts_api_contact_segments__segment_id__contacts_get",
    "parameters": [
     {
      "name": "segment_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "title": "Segment Id"
      }
     },
     {
      "name": "page",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "exclusiveMinimum": 0,
       "description": "Page number (1-based)",
       "default": 1,
       "title": "Page"
      },
      "description": "Page number (1-based)"
     },
     {
      "name": "per_page",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "maximum": 200,
       "exclusiveMinimum": 0,
       "description": "Items per page",
       "default": 50,
       "title": "Per Page"
      },
      "description": "Items per page"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PaginatedSegmentContacts"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    }
   }
  },
  "/api/shopify/health": {
   "get": {
    "tags": [
     "Shopify Token Verification"
    ],
    "summary": "Shopify Health Check",
    "description": "Simple health check for Shopify integration.",
    "operationId": "shopify_health_check_api_shopify_health_get",
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {}
       }
      }
     }
    }
   }
  },
  "/api/shopify/verify-token": {
   "get": {
    "tags": [
     "Shopify Token Verification"
    ],
    "summary": "Verify Shopify Token",
    "description": "Verify MegaSend token and return user's WhatsApp instances.\n\nThis endpoint:\n1. Validates the X-MEGASEND-AUTH token\n2. Retrieves user's WhatsApp instances\n3. Returns response in format expected by Shopify app\n\nHeaders:\n    X-MEGASEND-AUTH: The MegaSend API token\n\nQuery Params:\n    shop: Shopify shop domain (optional)",
    "operationId": "verify_shopify_token_api_shopify_verify_token_get",
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {}
       }
      }
     }
    }
   }
  },
  "/appointments": {
   "get": {
    "tags": [
     "Appointments"
    ],
    "summary": "List Appointments Route",
    "operationId": "list_appointments_route_appointments_get",
    "parameters": [
     {
      "name": "time_min",
      "in": "query",
      "required": false,
      "schema": {
       "anyOf": [
        {
         "type": "string",
         "format": "date-time"
        },
        {
         "type": "null"
        }
       ],
       "title": "Time Min"
      }
     },
     {
      "name": "time_max",
      "in": "query",
      "required": false,
      "schema": {
       "anyOf": [
        {
         "type": "string",
         "format": "date-time"
        },
        {
         "type": "null"
        }
       ],
       "title": "Time Max"
      }
     },
     {
      "name": "status",
      "in": "query",
      "required": false,
      "schema": {
       "anyOf": [
        {
         "enum": [
          "confirmed",
          "canceled"
         ],
         "type": "string"
        },
        {
         "type": "null"
        }
       ],
       "title": "Status"
      }
     },
     {
      "name": "provider",
      "in": "query",
      "required": false,
      "schema": {
       "anyOf": [
        {
         "enum": [
          "google_calendar",
          "calendly"
         ],
         "type": "string"
        },
        {
         "type": "null"
        }
       ],
       "title": "Provider"
      }
     },
     {
      "name": "connection_id",
      "in": "query",
      "required": false,
      "schema": {
       "anyOf": [
        {
         "type": "string",
         "format": "uuid"
        },
        {
         "type": "null"
        }
       ],
       "title": "Connection Id"
      }
     },
     {
      "name": "contact_id",
      "in": "query",
      "required": false,
      "schema": {
       "anyOf": [
        {
         "type": "string",
         "format": "uuid"
        },
        {
         "type": "null"
        }
       ],
       "title": "Contact Id"
      }
     },
     {
      "name": "instance_id",
      "in": "query",
      "required": false,
      "schema": {
       "anyOf": [
        {
         "type": "string",
         "format": "uuid"
        },
        {
         "type": "null"
        }
       ],
       "description": "Only appointments booked against this instance",
       "title": "Instance Id"
      },
      "description": "Only appointments booked against this instance"
     },
     {
      "name": "limit",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "maximum": 100,
       "minimum": 1,
       "default": 50,
       "title": "Limit"
      }
     },
     {
      "name": "offset",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "minimum": 0,
       "default": 0,
       "title": "Offset"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AppointmentListResponse"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
[...]
